################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibraryManagementSystem/obj/Debug/net8.0
